@using Bookio.SPA.Services
@using Bookio.Core.Models

@inject BooksService BooksService
@inject NavigationManager NavigationManager

@{
    var individualBook = BooksService.GetBookById(BookId);

    // Individual Book
    if (individualBook != null)
    {
        <NavLink href="/books" class="btn btn-primary">
            All Books
        </NavLink>
        <hr />
        <div class="card" style="width: 18rem;">
            <img src="@individualBook.ThumbnailUrl" class="card-img-top" alt="@individualBook.Title">
            <div class="card-body">
                <NavLink href="@NavigationManager.ToAbsoluteUri(@NavigationManager.Uri + '/' + individualBook.BookId.ToString())">
                    <h5 class="card-title">@individualBook.Title</h5>
                </NavLink>

                <AuthorComponent Book="@individualBook" />

                <BookRatingComponent Book="@individualBook" />

                <button class="btn btn-primary btn-view-book" @onclick="(e => ShowBookByIsbn(individualBook.Isbn))"
                        data-toggle="modal" data-target="#modal-@individualBook.Isbn">
                    Info
                </button>
                <button class="btn btn-success btn-read-book" @onclick="(e => ShowBookByIsbn(individualBook.Isbn))"
                        data-toggle="modal" data-target="#modal-@individualBook.Isbn">
                    Read
                </button>
            </div>
        </div>
    }
}


@code {
    [Parameter]
    public int BookId { get; set; }

    public string SelectedBook { get; set; } = string.Empty;

    private void ShowBookByIsbn(string isbn)
    {
        SelectedBook = BooksService.GetAllBooks().FirstOrDefault(x => x.Isbn == isbn).Title;
    }
}
